@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height:100%;
  width:100%;
  font-family:'Poppins', sans-serif;
  color: #4c3d08;
  background-color: #f5e5ad81;
}

.navbar {
  padding: .8em;
}
.navbar .logo{
  width:100%;
}
.navbar-nav {
  padding-right: 1.3em;
  text-align: right;
}

.nav-link{
  font-size:1
  .1em !important;
}
.carousel-inner img {
  width:100%;
  height:100%;
}

.carousel-caption {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size:5em;
  text-transform:uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size: 2em;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1em;
}

.btn-primary{
  background-color: #b08f13;
  border: 1px solid #b08f13;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #4c3d08;
  border: 1px solid #4c3d08;
}


.btn-outline-secondary{
  border:1px solid #b08f13;
  color:#b08f13;
}
.btn-outline-secondary:hover{
  border:1px solid #b08f13;
  background-color:#b08f13;
}

.jumbotron{
  padding:1em;
  border-radius: 0;
  background-color: #b08f13;
  color:#fff;
}

.jumbotron .btn{
  color:#fff;
  border:1px solid#fff;
}
.jumbotron .btn:hover{
  background-color: #fff;
  color:#b08f13;
}

.padding{
  padding-bottom:2em;
}

.welcome{
  width:75%;
  margin: 0 auto;
  padding-top: 2em;
}

p>a{
  color:inherit;
  font-weight:bold;
}
p>a:hover{
  color:inherit;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top:.3em;
  margin-bottom: 1em;
}

main hr{
  border-color:#7e660e !important;
}

.fa-chess-pawn, .fa-compass, .fa-futbol{
  font-size:4em;
  margin: 0.5em;
  color:#7e660e;
}

h2{
  margin-bottom: 1em;
}

.fun{
  width:100%;
  margin-bottom:2em;
}
.gif{
  max-width:100%;
  height:20em;
}

#cyber{
  width:100%;
  border:#777 solid 20px;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-github {
  color:#000;
}
.fa-envelope{
  color:#f44;
}
.fa-instagram{
  color:#C13584;
}
.fa-snapchat{
  color:#FFFC00;
}
.fa-github:hover, 
.fa-envelope:hover, 
.fa-instagram:hover, 
.fa-snapchat:hover{
  color:#d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color:#d5d5d5;
  padding-top:2em;
}
hr.light{
  border-top:1px solid #d5d5d5;
  width:75%;
  margin-top:.8em;
  margin-bottom:1em;
}
footer a{
  color:inherit;
}
hr.light-100{
  border-top:1px solid #d5d5d5;
  width:100%;
  margin-top:.8em;
  margin-bottom:1em;
}

footer .logo{
  filter: grayscale();
  width:75%;
}

h5{
  margin-bottom:.5em;
  font-size: 1.5em;
}
footer p{
  width:100%;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size:4em;
    padding:2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    position:absolute;
    top: 45%;
  }
  
  .carousel-caption h1{
    font-size:3.5em;
  }
  
  .carousel-caption h3{
    font-size: 1.4em;
    font-weight: 400;
    padding-bottom: .2em;
  }
  .carousel-caption .btn{
    font-size:95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 2em;
  }
  .social a{
    font-size: 2.5em;
    padding:1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    position:absolute;
    top: 40%;
  }
  
  .carousel-caption h1{
    font-size:2.5em;
  }
  
  .carousel-caption h3{
    font-size: 1.1em;
    font-weight: 400;
    padding-bottom: .2em;
  }
  .carousel-caption .btn{
    font-size:90%;
    padding: 4px 8px;
  }
  .carousel-indicators{
    display:none;
  }
  .display-4{
    font-size: 1.6em;
  }
  .social a{
    font-size: 2em;
    padding:.7rem;
  }
}
@media (max-width:400px) {
  p{
    font-size:.8em;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 40em;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/math.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/







